# Created by .ignore support plugin (hsz.mobi)
### Example sysUserDetails template template
### Example sysUserDetails template

# IntelliJ project files
.idea
*.iml
out
gen
target
*.log
logs
.history


docker/*/data/
docker/minio/config
docker/xxljob/logs