<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.system.mapper.NoticeMapper">

    <!-- 获取通知公告分页列表 -->
    <select id="getNoticePage" resultType="com.youlai.boot.system.model.bo.NoticeBO">
        SELECT
                t1.id,
                t1.title,
                t1.notice_type,
                t2.nickname AS release_by,
                t1.priority,
                t1.tar_type,
                t1.release_status,
                t1.release_time,
                t1.recall_time
        FROM
            sys_notice t1
                LEFT JOIN sys_user t2 ON t2.id = t1.release_by
        where
            t1.is_deleted = 0
            <if test="queryParams.title != null and queryParams.title != ''">
                AND t1.title LIKE CONCAT('%',#{queryParams.title},'%')
            </if>
            <if test="queryParams.releaseStatus != null">
                AND t1.release_status = #{queryParams.releaseStatus}
            </if>
            <if test="queryParams.releaseTime != null">
                <if test="queryParams.releaseTime[0] != null and queryParams.releaseTime[0] != ''">
                    <bind name="startDate" value="queryParams.releaseTime[0].length() == 10 ? queryParams.releaseTime[0] + ' 00:00:00' : queryParams.releaseTime[0]"/>
                    AND t1.release_time &gt;= #{startDate}
                </if>
                <if test="queryParams.releaseTime[1] != null and queryParams.releaseTime[1] != ''">
                    <bind name="endDate" value="queryParams.releaseTime[1].length() == 10 ? queryParams.releaseTime[1] + ' 23:59:59' : queryParams.releaseTime[1]"/>
                    AND t1.release_time &lt;= #{endDate}
                </if>
            </if>
        ORDER BY
            t1.create_time DESC
    </select>

    <!-- 获取通知公告详情 -->
    <select id="getNoticeDetail" resultType="com.youlai.boot.system.model.bo.NoticeBO">
        SELECT
            t1.id,
            t1.title,
            t1.content,
            t1.type,
            t2.nickname AS release_by,
            t1.level,
            t1.release_status,
            t1.release_time
        FROM
            sys_notice t1
                LEFT JOIN sys_user t2 ON t2.id = t1.release_by
        WHERE
            t1.id = #{id} AND t1.is_deleted = 0
    </select>

</mapper>
