<template>
  <div class="app-container h-full flex flex-1 flex-col">
    <!-- 搜索 -->
    <page-search
      ref="searchRef"
      :search-config="searchConfig"
      @query-click="handleQueryClick"
      @reset-click="handleResetClick"
    />

    <!-- 列表 -->
    <page-content
      ref="contentRef"
      :content-config="contentConfig"
      @add-click="handleAddClick"
      @operate-click="handleOperateClick"
    >
      #foreach($fieldConfig in $fieldConfigs)
        #if($fieldConfig.isShowInList == 1 && $fieldConfig.dictType && $fieldConfig.dictType.trim() != "")
        <template #$fieldConfig.fieldName="scope">
          <DictLabel v-model="scope.row[scope.prop]" code="$fieldConfig.dictType" />
        </template>
        #end
      #end
    </page-content>

    <!-- 新增/编辑 -->
    <page-modal ref="modalRef" :modal-config="modalConfig" @submit-click="handleSubmitClick">
      #foreach($fieldConfig in $fieldConfigs)
        #if($fieldConfig.isShowInForm == 1 && $fieldConfig.formType != "HIDDEN" && $fieldConfig.dictType && $fieldConfig.dictType.trim() != "")
        <template #$fieldConfig.fieldName="scope">
          <Dict v-model="scope.formData[scope.prop]" code="$fieldConfig.dictType" v-bind="scope.attrs" />
        </template>
        #end
      #end
    </page-modal>
  </div>
</template>

<script setup lang="ts">
defineOptions({ name: "$entityName" });

import ${entityName}API, { ${entityName}PageVO, ${entityName}Form, ${entityName}PageQuery } from "@/api/${moduleName}/${kebabCaseEntityName}-api";
import type { IObject, PageModalInstance } from "@/components/CURD/types";
import usePage from "@/components/CURD/usePage";

// 组合式 CRUD
const {
  searchRef,
  contentRef,
  addModalRef: modalRef,
  handleQueryClick,
  handleResetClick,
  handleAddClick,
  handleEditClick,
  handleSubmitClick,
} = usePage<${entityName}PageQuery, ${entityName}PageVO, ${entityName}Form>();

// 搜索配置
const searchConfig = {
  formItems: [
    #foreach($fieldConfig in $fieldConfigs)
      #if($fieldConfig.isShowInQuery == 1)
      {
        type: "$!{fieldConfig.formType.toLowerCase()}",
        label: "$fieldConfig.fieldComment",
        prop: "$fieldConfig.fieldName",
        attrs: {
          placeholder: "$fieldConfig.fieldComment",
        },
      },
      #end
    #end
  ],
};

// 列表配置
const contentConfig = {
  // 权限前缀
  permPrefix: "${moduleName}:${kebabCaseEntityName}",
  // 主键
  pk: "id",
  // 列表查询接口
  indexAction: ${entityName}API.getPage,
  // 删除接口
  deleteAction: ${entityName}API.deleteByIds,
  // 数据解析函数
  parseData(res: any) {
    return {
      total: res.total,
      list: res.list,
    };
  },
  // 分页配置
  pagination: {
    background: true,
    layout: "total, sizes, prev, pager, next, jumper",
    pageSize: 20,
    pageSizes: [10, 20, 30, 50],
  },
  // 工具栏配置
  toolbar: ["add", "delete"],
  defaultToolbar: ["refresh", "filter"],
  // 表格列配置
  cols: [
    { type: "selection", width: 55, align: "center" },
    #foreach($fieldConfig in $fieldConfigs)
      #if($fieldConfig.isShowInList == 1)
        #if($fieldConfig.dictType && $fieldConfig.dictType.trim() != "")
    { 
      label: "$fieldConfig.fieldComment", 
      prop: "$fieldConfig.fieldName", 
      templet: "custom",
      slotName: "$fieldConfig.fieldName" 
    },
        #else
    { label: "$fieldConfig.fieldComment", prop: "$fieldConfig.fieldName" },
        #end
      #end
    #end
    { 
      label: "操作", 
      prop: "operation", 
      width: 220,
      templet: "tool",
      operat: [
        { name: "edit", text: "编辑", attrs: { type: "primary", icon: "edit" } },
        { name: "delete", text: "删除", attrs: { type: "danger", icon: "delete" } },
      ],
    }
  ],
};

// 弹窗配置
const modalConfig = {
  // 权限前缀
  permPrefix: "${moduleName}:${kebabCaseEntityName}",
  // 主键
  pk: "id",
  // 弹窗配置
  dialog: {
    title: "新增${entityComment}",
    width: 800,
    draggable: true,
  },
  // 表单项配置
  formItems: [
    #foreach($fieldConfig in $fieldConfigs)
      #if($fieldConfig.isShowInForm == 1 && $fieldConfig.formType != "HIDDEN")
        #if($fieldConfig.dictType && $fieldConfig.dictType.trim() != "")
    {
      type: "custom",
      label: "$fieldConfig.fieldComment",
      prop: "$fieldConfig.fieldName",
      slotName: "$fieldConfig.fieldName",
      attrs: { 
        placeholder: "$fieldConfig.fieldComment",
        style: { width: "100%" }
      },
        #if($fieldConfig.isRequired == 1)
      rules: [{ required: true, message: "$fieldConfig.fieldComment不能为空", trigger: "change" }],
        #end
    },
        #else
    {
      type: "$!{fieldConfig.formType.toLowerCase()}",
      label: "$fieldConfig.fieldComment",
      prop: "$fieldConfig.fieldName",
      attrs: { 
        placeholder: "$fieldConfig.fieldComment" 
      },
        #if($fieldConfig.isRequired == 1)
      rules: [{ required: true, message: "$fieldConfig.fieldComment不能为空", trigger: "blur" }],
        #end
    },
        #end
      #end
    #end
  ],
  // 提交函数
  formAction: (data: ${entityName}Form) => {
    if (data.id) {
      // 编辑
      return ${entityName}API.update(data.id as string, data);
    } else {
      // 新增
      return ${entityName}API.create(data);
    }
  },
};

// 处理操作按钮点击
const handleOperateClick = (data: IObject) => {
  if (data.name === "edit") {
    handleEditClick(data.row, async () => {
      return await ${entityName}API.getFormData(data.row.id);
    });
  }
};

</script>
