package ${package}.controller;

import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import ${package}.model.form.${entityName}Form;
import ${package}.model.query.${entityName}PageQuery;
import ${package}.model.vo.${entityName}PageVO;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.youlai.common.result.PageResult;
import com.youlai.common.result.Result;
import io.swagger.v3.oas.annotations.Parameter;
import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.Operation;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import jakarta.validation.Valid;

/**
 * $!{tableComment} 前端控制器
 *
 * @author ${author}
 * @since ${date}
 */
@Tag(name = "${tableComment}接口")
@RestController
@RequestMapping("/api/v1/${lowerFirstEntityName}s")
@RequiredArgsConstructor
public class ${entityName}Controller  {

    private final ${entityName}Serivie ${lowerFirstEntityName}Service;

    @Operation(summary = "$!{tableComment}分页列表")
    @GetMapping("/page")
    public PageResult<${entityName}PageVO> get${entityName}Page(${entityName}PageQuery queryParams ) {
        IPage<${entityName}PageVO> result = ${lowerFirstEntityName}Service.get${entityName}Page(queryParams);
        return PageResult.success(result);
    }

    @Operation(summary = "新增$!{tableComment}")
    @PostMapping
    public Result save${entityName}(@RequestBody @Valid ${entityName}Form formData ) {
        boolean result = ${lowerFirstEntityName}Service.save${entityName}(formData);
        return Result.judge(result);
    }

    @Operation(summary = "$!{tableComment}表单数据")
    @GetMapping("/{id}/form")
    public Result<${entityName}Form> get${entityName}Form(
        @Parameter(description = "$!{tableComment}ID") @PathVariable Long id
    ) {
        ${entityName}Form formData = ${lowerFirstEntityName}Service.get${entityName}FormData(id);
        return Result.success(formData);
    }

    @Operation(summary = "修改$!{tableComment}")
    @PutMapping(value = "/{id}")
    public Result update${entityName}(@Parameter(description = "$!{tableComment}ID") @PathVariable Long id,
    @RequestBody @Validated ${entityName}Form formData) {
        boolean result = ${lowerFirstEntityName}Service.update${entityName}(id, formData);
        return Result.judge(result);
    }

    @Operation(summary = "删除$!{tableComment}")
    @DeleteMapping("/{ids}")
    public Result delete${entityName}s(
        @Parameter(description = "$!{tableComment}ID，多个以英文逗号(,)分割") @PathVariable String ids
    ) {
        boolean result = ${lowerFirstEntityName}Service.delete${entityName}s(ids);
        return Result.judge(result);
    }
}
