<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.system.mapper.NoticeStatusMapper">

    <!-- 获取用户公告状态分页列表 -->
    <select id="getNoticeStatusPage" resultType="com.youlai.system.model.vo.NoticeStatusVO">
        SELECT
                id,
                notice_id,
                user_id,
                read_status,
                read_tiem
        FROM
            sys_notice_status
        <where>
            <if test="queryParams.id != null">
                AND id = #{queryParams.id}
            </if>
            <if test="queryParams.noticeId != null">
                AND notice_id = #{queryParams.noticeId}
            </if>
            <if test="queryParams.userId != null">
                AND user_id = #{queryParams.userId}
            </if>
            <if test="queryParams.readStatus != null">
                AND read_status = #{queryParams.readStatus}
            </if>
            <if test="queryParams.readTiem != null">
                AND read_tiem = #{queryParams.readTiem}
            </if>
        </where>
    </select>

</mapper>
